
@{
	Layout = "";
}

@{
	ViewBag.Title = "";
}


<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Koombu Social Network</title>
	<link href="~/Content/bootstrap.css" rel="stylesheet">
	<link href="~/Content/style.css" rel="stylesheet">
</head>
<body>
	<header>
		<div class="container">
			<img src="~/Content/images/logo.png" class="logo" alt="" >
			<span class="form-inline">

				@using (Html.BeginForm("SignIn", "Home"))
	{
			<label class="sr-only">Email address</label>
			<input type="email" class="form-control" name="email" placeholder="Enter email" required>

			<label class="sr-only">Password</label>
			<input type="password" class="form-control" name="password" placeholder="Password" required>




		<button type="submit" class="btn btn-default">Sign in</button><br>
		if (ViewData["SignError"] != null)
		{<lable style="color: red">Bad email or password,try again !</lable><br /> }
}

			</span>
			
		</div>
	</header>
	<nav class="navbar navbar-default">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
			</div>
			<div id="navbar" class="collapse navbar-collapse">
				
			</div><!--/.nav-collapse -->
		</div>
	</nav>
	<section>
		<div class="container">
			<div class="row">
				<div class="col-md-8">
					<div class="panel panel-default">
						<div class="panel-heading">
							<h3 class="panel-title">Create a new account</h3>
						</div>
						<div class="panel-body">

							<div class="form-group">
@using (Html.BeginForm("CreateAccount", "Home"))
{
						<label>First Name*</label><br />
						<input type="text" name="firstName" required /><br /><br />
						<label>Last Name* </label><br />
						<input type="text" name="lastName" required /><br /><br />
						<label>Date of Birth* </label><br />
						<input type="date" name="bday" required><br /><br />
						<label>Email address* </label><br />
						if(ViewData["EmailExist"]!= null) {<lable style="color: red">Email address already exist !</lable><br/> }
						<input type="email" name="email" required/><br /><br />
						<label>Password* </label><br />
						<input type="password" name="password" required/><br /><br />
						if(ViewData["PassError"] != null) {<lable style="color: red">Password and confim password does not match !</lable><br/> }			            
						<label>Confirm Password* </label><br />
						<input type="password" name="confirmPassword" required/><br /><br />
						<label>Department* </label><br />
						<input type="text" name="department" required/><br /><br />
						<label>Title* </label><br />
						<input type="text" name="title" required/><br /><br /><br />
						<button type="submit" class="btn btn-default">Submit</button>
}

							</div>



						</div>
					</div>
					
					
					
					
				</div>
				<div class="col-md-4">
					<div class="panel panel-default friends">
						<div class="panel-heading">
							<h3 class="panel-title">Koombu Social Network</h3>
						</div>
						<div class="panel-body">
							<p>Welcome to Koombu Social Network</p>
							<div class="clearfix"></div>
						</div>
					</div>
					
					
				</div>
			</div>
		</div>
	</section>
<footer>
	<div class="container">
		<p>Koombu Copyright &copy, 2018</p>
	</div>
</footer>

</body>
</html>


